# Dịch vụ email
MAIL=
APP_PWD=
RESEND_API_KEY=

# Nếu muốn sử dụng Twilio để làm demo social engineering
# Kịch bản gọi điện yêu cầu cung cấp OTP
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
DOMAIN_NAME=

# Kết nối Oracle
DB_DSN =  
DB_USER = 
DB_PASSWORD = 

# Khóa để băm otp (hmac)
OTP_HASH_SECRET=

# Các khóa bí mật cho JWT
SECRET_KEY=
REFRESH_SECRET_KEY=
ALGORITHM=

# Khóa để mã hóa secret key của TOTP
CRYPTO_KEY=